{% include "style_atas.html" %}
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>FORM EDIT DATA SANTRI</h2>                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
                      {% csrf_token %}

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">ID Santri <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" name="id_santri" placeholder="Enter ID Santri" value="{{edit_santri.id_santri}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nama Santri <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="nama_santri" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Nama Santri" value="{{edit_santri.nama_santri}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Tempat Tanggal Lahir <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="tempat_tgl_lahir" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Tempat Tanggal Lahir" value="{{edit_santri.tempat_tgl_lahir}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Alamat Santri<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="alamat" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Alamat Santri" value="{{edit_santri.alamat}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Pendidikan <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="pendidikan" required>
                            <option>{{edit_santri.pendidikan}}</option>
                            <option value="">Pilih Pendidikan</option>
                            {% for tampil_p in select_pendidikan %}
                            <option>{{tampil_p.nama_pendidikan}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nama Wali Santri <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="nama_wali" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Nama Wali Santri" value="{{edit_santri.nama_wali}}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nama Kamar <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="nama_kamar" required>
                            <option>{{edit_santri.nama_kamar}}</option>
                            <option value="">Pilih Kamar</option>
                            {% for tampil_k in select_kamar %}
                            <option>{{tampil_k.nama_kamar}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                          Nomor HP <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="nomer_hp" required="required" class="form-control col-md-7 col-xs-12" placeholder="Enter Nomor HP" maxlength="12" value="{{edit_santri.nomer_hp}}">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success">Simpan</button>
                          <a href="{% url 'Santri' %}"><button class="btn btn-danger">Batal</button></a>
                          
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
{% include "style_bawah.html" %}