{% include "style_atas_pengurus.html" %}

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- <p class="text-muted font-13 m-b-30">
                      Pengurus
                    </p> -->
                    <div class="x_content">
                      <p class="text-muted font-17 m-b-30">
                      
                      </p>
                    <!-- <img src="/static/icon/head.jpg" style="width: 100%;"> -->
                    <div class="">
                      <div class="row top_tiles">
                        <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
                          <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <div class="count">Jumlah Pelanggaran</div>                  
                            <h3><i class="fa fa-check"></i> {{ jumlah }}</h3>
                          </div>
                        </div>
                      </div>
                      <div class="image-cartoon">
                        <img class="logo" src="/static/login/images/nusa.png"  width="400px" alt="">
                  </div>
                </div>
              </div>

              {% include "style_bawah_pengurus.html" %}